black = #222
gray = #444
light-gray = #888
xlight-gray = #aaa
background = #f7f6f5
green = #81ad45
dark-green = darken(green, 10)

font-xsmall = 11px
font-small = 14px
font-large = 16px

@import 'nib'

*
  box-sizing: border-box

body
  background-color white
  background-image url('img/pw_maze_white.png')
  background-repeat repeat
  font-family "Open Sans", sans-serif
  color gray
  font-size font-small
  font-weight 600
  -webkit-font-smoothing antialiased
  padding 10px

input, button, textarea
  -webkit-font-smoothing antialiased
  font-family "Open Sans", sans-serif

.content
  margin 0px auto 20px
  border-radius 6px
  border 1px solid #ccc
  box-shadow 0px 2px 3px #ddd
  width 450px
  min-height 600px
  background-color background

.header
  padding 20px
  box-shadow inset 0px 1px 0px white, 0px 1px 0px white
  background-image linear-gradient(top, #f7f6f5, #eee)
  border-top-left-radius 6px
  border-top-right-radius 6px
  border-bottom 1px solid #ccc

#mark-all-done
  float right
  margin-top -17px
  font-size font-xsmall
  color light-gray

  &:hover
    color gray

// Fonts

h1
  margin 0px
  text-transform uppercase
  font-size font-large
  color xlight-gray
  text-shadow 0px 1px white

a
  color gray
  text-decoration none
  text-shadow 0px 1px white

  &:hover
    color black

// Add a new todo

#new-todo-wrapper
  margin-top 20px
  overflow hidden

// Inputs

input[type='text']
  float left
  margin-right 2%
  padding 7px 8px
  border-radius 3px
  border 1px solid xlight-gray
  width 73%
  font-size font-small

  &:focus
    outline none
    border 1px solid light-gray

// Buttons

.button
  width 25%
  float left
  background-image linear-gradient(top, green, lighten(dark-green, 5))
  box-shadow inset 0px 1px 0px lighten(green, 10)
  border 1px solid dark-green
  border-radius 3px
  padding 7px 8px
  font-size font-small
  font-weight 600
  text-shadow 0px 2px dark-green
  color white
  cursor pointer

  &:hover
    box-shadow 0px 2px 3px #ddd, inset 0px 1px 0px lighten(green, 20)
    background-image linear-gradient(top, lighten(green,10), green)

// The todo list

#todo-list
  margin 0px
  padding 0px
  list-style-type none

  li
    padding 10px 20px 10px
    border-bottom 1px solid #ddd
    box-shadow 0px 1px 0px white
    cursor pointer

    &:hover
      background-color #eee
      box-shadow inset 0px 0px 3px #d9d9d9, 0px 1px 0px white

    input[type='checkbox']
      margin-right 10px
      cursor pointer

    label
      cursor pointer

// The footer

.footer
  margin 0px auto
  width 450px
  padding-bottom 20px

  a
    color green

    &:hover
      color dark-green

  ul
    list-style-type none
    color light-gray
    margin 0px
    padding 0px
    overflow hidden

    li
      float left
      font-size font-xsmall
      width 33%
      text-align center

// Responsive for mobile devices

@media screen and (max-width: 500px)
  .content, .footer
    width 100%

  #todo-submit, #new-todo
    display block
    float none
    width 100%

  #todo-submit
    margin-top 10px

  #mark-all-done
    float none

// Change to higher resolution background pattern for mobile

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
  body
    background-image url('img/pw_maze_white_@2X.png')
