black = #222
gray = #444
light-gray = #888
xlight-gray = #aaa
background = #f7f6f5
green = #81ad45
dark-green = darken(green, 10)

font-xsmall = 11px
font-small = 14px
font-large = 16px

@import 'nib'
@import 'include/icons'
@import 'include/basic'